{% extends "base.html" %}
{% block title %} 
    Register Page
{% endblock %} 

{% block content %}
<br>
    <div class="container">
        <iframe src='https://my.spline.design/iphone14procopy-b04e7ea13e9af79587bfbb548908507c/' frameborder='0' width='33%' height='100%'></iframe>
        <iframe src='https://my.spline.design/untitled-6d44578f91e951127dc15e214fc28afa/' frameborder='0' width='33%' height='100%'></iframe>
        <iframe src='https://my.spline.design/untitled-a4ada2a57a846c0308f347b3f2a695e6/' frameborder='0' width='33%' height='100%'></iframe>
    </div>
    <div class="container">
        <iframe src="https://dexdreamin-whiteboard.herokuapp.com/" frameborder='0' width='100%' height='100%'></iframe>
    </div>
    <div class="container">
        <iframe src='https://gun-chat-dapp.web.app/' frameborder='0' width='100%' height='100%'></iframe>
    </div>

{% endblock %} 
